body{
  .galeria{
    main{
      .titulo_galeria{
        text-align: center;
        margin: 1.875rem 0rem;
        font-family: $font-secundaria;
        color: $color-texto;
      }
      .container_fotos_galeria{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.625rem;
        margin-bottom: 3.125rem;
        img{
          box-shadow: 0rem 0rem .625rem $color-shadow1;
          width: 17rem;
        }
      }
    }
  }
}
